source https://nuget.org/api/v2
framework: net46

nuget FAKE
nuget FsReveal
nuget Microsoft.Owin.Host.HttpListener
nuget Microsoft.Owin.Hosting
nuget Suave ~> 1.0
nuget Freya ~> 3.0.0-b
nuget FSharp.Data.SqlClient
